@mixin  align($display,$justify-content,$direction,$height) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: center;
    height: $height;
}
.signup{
    @include align(flex,center,column, 50vh);
}
.signup_inputs{
    @include align(flex,space-evenly,column, 60vh);
}
.button_main{
    @include align(flex,center,null,null);
    width: 100%;
}
.button1{
    width: 65%;
    background-color: #A03037 !important;
}
.MuiButton-label {
    color: #fff;
}