@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
}

$margin-left: -14rem;
$border: 1px solid #d9cccc;

.CartBag_frame {
    @include flex(flex,center ,column ,null ,100% ,6rem );
    align-items: center;
    margin-left: $margin-left;
}
.cartBag_head{
    width: 50%;
    border: $border;
    min-height: 42vh;
}
.head {
    margin-left: 1.9rem;
    margin-top: 1rem;
    font-weight: 600;
}
.btn_content1 {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.btn_place1 {
    background-color: #3371b5 !important;
    color: white !important;
}
.header_detail1 {
    font-weight: 600;
    font-size: 18px;
}
.main_cart {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2.5rem
}
.bag_text {
    @include flex(flex, space-evenly, column, 130%, 14vh, null);
    margin-left: 3rem;
}
.img_book {
    width: 6vw;
    margin: 0rem 0rem 0rem 2rem;
}
.text_content{
    width: 28%;
    margin-top: -0.7rem;
}
.cart_title {
    font-weight: 600;
    font-size: 1.2rem;
}
.cart_bookAuthor {
    font-size: 0.8rem;
    color: #a49595;
    font-weight: 600;
}
.price {
    font-weight: bold;
}
.count_content {
    display: flex;
    margin: 1.5rem 0rem 0rem 3rem;
    width: 100%;
    .minus {
        @include flex(flex, center, null, 20px, 20px, null);
        border: $border;
        align-items: center;
        border-radius: 15px;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(248, 244, 244);
    }
    .count {
        width: 20%;
        border: $border;
        margin: 0px 7px 0px 7px;
        display: flex;
        justify-content: center;
    }
    .plus {
        @include flex(flex, center, null, 20px, 20px, null);
        border: $border;
        align-items: center;
        border-radius: 15px;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(248, 244, 244);
    }
    .remove {
        cursor: pointer;
        margin-left: 39px;
    }
}
.address_frame {
    @include flex(flex, center, column, 58.3%, 12vh, 12px);
    border: $border;
    text-align: center;
    margin-left: 10.5rem;
    margin-top: 1.5rem;
}
.address_frame_details {
    @include flex(flex, space-evenly, column, 55%, 80vh, null);
    border: $border;
    margin-top: 12px;
    padding: 23px;
    margin-left: 10.5rem ;
}
.customer_dtl {
    display: flex;
    justify-content: space-between;
}
.custm_content_names {
    @include flex(flex, space-between, null, 460px, null, null);
}
.fname_pno {
    margin-top: 2rem;
}
.address_feild {
    width: 462px;
    height: 78px !important;
}
.city_state {
    display: flex;
    width: 464px;
    justify-content: space-between;
}
.btn_content2 {
    display: flex;
    justify-content: flex-end;
}
.btn_place2 {
    background-color: #3371b5 !important;
    color: white !important;
}
.type {
    color: black;
}
.order_frame {
    @include flex(flex, center, column, 54.8%, 30px, 12px);
    border: $border;
    padding: 23px;
    text-align: center;
    margin: 1.5rem 0rem 7rem 10.5rem;
}
.order_content {
    width: 55.4%;
    min-height: 36vh;
    border: 1px solid #d9cccc;
    padding: 20px;
    margin: 1.5rem 0rem 7rem 10.5rem;
}
.header_detail2 {
    font-weight: 600;
    font-size: 18px;
    margin-left: 1.9rem;
}
.main_cart2 {
    display: flex;
}
.bag_text2 {
    @include flex(flex, space-evenly, column, 130%, 14vh, null);
}
.img_book2 {
    width: 6vw;
    margin: 2rem 0rem 0rem 2rem;
}
.text_content2 {
    width: 28%;
    margin-top: 1.5rem;
}
.cart_title2 {
    font-weight: 600;
    font-size: 1.2rem;
}
.cart_bookAuthor2 {
    font-size: 0.8rem;
    color: #a49595;
    font-weight: 600;
}
.price2 {
    font-weight: bold;
}
.App {
    text-align: left !important;
}
.css-1p5q5e5-MuiStack-root {
    text-align: center !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .CartBag_frame {
        margin-left: 0rem; 
    }
    .cartBag_head {
        width: 80%;
        min-height: 33vh;
    }
    .text_content {
        margin-top: -1rem;
    }
    .bag_text {
        height: 12vh;
        width: 80%;
    }
    .img_book {
        width: 16vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .cart_title {
        font-size: 1.8rem;
    }
    .cart_bookAuthor {
        font-size: 1rem;
    }
    .price {
        font-size: 1rem;
    }
    .count_content {
        margin: 2.5rem 0rem 0rem 3rem;
        width: 100%;        
    }
    .count_content .remove {
        margin-left: 25px;
    }

    .address_frame {
        width: 79.5%;
        height: 9vh;
        margin-left: 4.8rem;
        margin-top: 2rem;
    }
    .address_frame_details {
        width: 73%;
        height: 60vh;        
        margin-top: 2.5rem;
        margin-left: 5rem;
    }
    .order_frame {
        width: 73.2%;
        height: 35px;
        margin: 2.5rem 0rem 4rem 4.8rem;   
    }
    .order_content {
        width: 74%;
        margin: 2.5rem 0rem 7rem 5rem;        
    }
    .img_book2 {
        width: 12vw;
    }
    .main_cart2 > .text_content2 {
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 630px) and (max-width:740px) {
    .CartBag_frame {
        margin-left: 0rem; 
    }
    .cartBag_head {
        width: 80%;
        min-height: 33vh;
    }
    .text_content {
        margin-top: -0.5rem;
    }
    .bag_text {
        height: 12vh;
        width: 80%;
    }
    .img_book {
        width: 10vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .count_content {
        margin: 1.5rem 0rem 0rem 3rem;
        width: 100%;        
    }
    .count_content .remove {
        margin-left: 25px;
    }

    .address_frame {
        width: 80%;
        height: 9vh;
        margin-left: 4.4rem;
        margin-top: 2rem;
    }
    .address_frame_details {
        width: 73.5%;
        margin-top: 2.5rem;
        margin-left: 4.5rem;
    }
    .order_frame {
        width: 73.7%;
        height: 10px;
        margin: 2rem 0rem 4rem 4.4rem;  
    }
    .order_content {
        width: 74%;
        margin: 2.5rem 0rem 7rem 4.5rem;        
    }
    .img_book2 {
        width: 9vw;
    }
    .main_cart2 > .text_content2 {
        margin-top: 1.4rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){
    .CartBag_frame {
        margin-left: 0rem;      
    }
    .cartBag_head {
        width: 80%;
        min-height: 39vh;
    }
    .text_content {
        margin-top: 0.3rem;
    }
    .bag_text {
        height: 6vh;
        margin-left: 1.8rem;        
    }
    .img_book {
        width: 16vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .count_content {
        margin: 2.5rem 0rem 0rem 1.7rem;
        width: 200%;        
    }
    .count_content .remove {
        margin-left: 25px;
    }

    .address_frame {
        width: 79.3%;
        margin-left: 2.2rem;
        margin-top: 2rem;
    }
    .address_frame_details {
        width: 67%;
        margin-left: 2.3rem;
        margin-top: 2rem;
    }
    .custm_content_names, .address_feild, .city_state {
        flex-flow: column;
        width: 226px;
    }
    .MuiFormGroup-root.MuiFormGroup-row.css-qfz70r-MuiFormGroup-root {
        width: 109%;
    }
    .order_frame {
        width: 65.8%;
        margin: 2rem 0rem 2.35rem 2.2rem;    
    }
    .order_content {
        width: 68.4%;
        margin: 2rem 0rem 7rem 2.3rem;
    }
    .img_book2 {
        width: 16vw;
        margin: 2rem 0rem 0rem 0rem;
    }
    .header_detail2 {
        margin-left: 0rem;
    }
    .main_cart2 > .text_content2 {
        margin-top: 2.3rem;        
    }
}

@media screen and (max-width: 340px){
    .CartBag_frame {
        margin-left: 0rem;      
    }
    .cartBag_head {
        width: 90%;
        min-height: 39vh;
    }
    .head {
        margin-left: 1.5rem;        
    }
    .text_content {
        margin-top: 1rem;
    }
    .bag_text {
        height: 6vh;
        margin-left: 1.8rem;        
    }
    .img_book {
        width: 16vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .count_content {
        margin: 2.5rem 0rem 0rem 1.7rem;
        width: 200%;        
    }
    .count_content .remove {
        margin-left: 25px;
    }

    .address_frame {
        width: 89.3%;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .address_frame_details {
        width: 75%;
        height: 125vh;
        margin-left: 1rem;
        margin-top: 2rem;
    }
    .custm_content_names, .address_feild, .city_state {
        flex-flow: column;
        width: 226px;
    }
    .MuiFormGroup-root.MuiFormGroup-row.css-qfz70r-MuiFormGroup-root {
        width: 110%;
    }
    .order_frame {
        width: 74.8%;
        margin: 2rem 0rem 2.35rem 1rem;    
        height: 20px;
    }
    .order_content {
        width: 76.4%;
        margin: 2rem 0rem 4rem 1rem;
    }
    .img_book2 {
        width: 16vw;
        margin: 2rem 0rem 0rem 0rem;
    }
    .header_detail2 {
        margin-left: 0rem;
    }
    .main_cart2 > .text_content2 {
        margin-top: 2.3rem;        
    }
}
