@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
}

$margin-left: -14rem;
$border: 1px solid #d9cccc;

.CartBag_frame {
    @include flex(flex,center ,column ,null ,100% ,6rem );
    align-items: center;
    margin-left: $margin-left;
}
.cartBag_head{
    width: 50%;
    border: $border;
    min-height: 42vh;
}
.head {
    margin-left: -40rem;
    margin-top: 1rem;
    font-weight: 600;
}
.btn_content1 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 10rem;
    right: 2rem;
}
.btn_place1 {
    background-color: #3371b5 !important;
    color: white !important;
}
.header_detail1 {
    font-weight: 600;
    font-size: 18px;
}
.main_cart {
    display: flex;
}
.bag_text {
    @include flex(flex, space-evenly, column, 130%, 12vh, null);
}
.img_book {
    width: 6vw;
    margin: 0rem 0rem 0rem 2rem;
}
.text_content{
    width: 28%;
    margin-top: -0.7rem;
}
.cart_title {
    font-weight: 600;
    font-size: 1.2rem;
}
.cart_bookAuthor {
    font-size: 0.8rem;
    color: #a49595;
    margin-left: -6.5rem;
    font-weight: 600;
}
.price {
    font-weight: bold;
    margin-left: -8.5rem;
}
.count_content {
    display: flex;
    margin: 2.5rem 0rem 0rem 3rem;
    width: 100%;
    .minus {
        @include flex(flex, center, null, 20px, 20px, null);
        border: $border;
        align-items: center;
        border-radius: 15px;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(248, 244, 244);
    }
    .count {
        width: 20%;
        border: $border;
        margin: 0px 7px 0px 7px;
        display: flex;
        justify-content: center;
    }
    .plus {
        @include flex(flex, center, null, 20px, 20px, null);
        border: $border;
        align-items: center;
        border-radius: 15px;
        font-size: 23px;
        font-weight: bold;
        cursor: pointer;
        background-color: rgb(248, 244, 244);
    }
    .remove {
        cursor: pointer;
        margin-left: 39px;
    }
}
.address_frame {
    @include flex(flex, center, column, 58.3%, 12vh, 12px);
    border: $border;
    margin-left: 10.5rem;
    margin-top: 1.5rem;
}
.address_frame_details {
    @include flex(flex, space-evenly, column, 55%, 80vh, null);
    border: $border;
    margin-top: 12px;
    padding: 23px;
    margin-left: 10.5rem ;
}
.customer_dtl {
    display: flex;
    justify-content: space-between;
}
.custm_content_names {
    @include flex(flex, space-between, null, 460px, null, null);
}
.fname_pno {
    margin-top: 2rem;
}
.address_feild {
    width: 462px;
    height: 78px !important;
}
.city_state {
    display: flex;
    width: 464px;
    justify-content: space-between;
}
.btn_content2 {
    display: flex;
    justify-content: flex-end;
}
.btn_place2 {
    background-color: #3371b5 !important;
    color: white !important;
}
.type {
    color: black;
}
legend.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-u4tvz2-MuiFormLabel-root {
    margin-left: -23rem;
}
.MuiFormGroup-root.MuiFormGroup-row.css-qfz70r-MuiFormGroup-root {
    margin-left: -23rem;
}
.order_frame {
    @include flex(flex, center, column, 54.8%, 30px, 12px);
    border: $border;
    padding: 23px;
    margin: 1.5rem 0rem 7rem 10.5rem;
}
.order_content {
    width: 55.4%;
    min-height: 36vh;
    border: 1px solid #d9cccc;
    padding: 20px;
    margin: 1.5rem 0rem 7rem 10.5rem;
}
.header_detail2 {
    font-weight: 600;
    font-size: 18px;
    margin-left: -35rem;
}
.main_cart2 {
    display: flex;
}
.bag_text2 {
    @include flex(flex, space-evenly, column, 130%, 12vh, null);
}
.img_book2 {
    width: 6vw;
    margin: 2rem 0rem 0rem 2rem;
}
.text_content2 {
    width: 28%;
    margin-top: 1.5rem;
}
.btn_content3 {
    display: flex;
    justify-content: flex-end;
    height: 6vh;
    position: relative;
    top: 10rem;
    left: 19rem;
}
.btn_place3 {
    background-color: #3371b5 !important;
    color: white !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .cartBag_content{
        margin-left: -4rem;
        width:62%;
    }
    .address_frame{
        margin-left: 6rem;
        width: 64%;
    }
    .order_frame{
        margin-left: 6.1rem;
        width: 61%;
    }
    .address_frame_details{
        margin-left: 6rem;
        width: 60.5%;
    }
    .order_content{
        margin-left: 6rem;
        width:61.5%;
    }

    .MuiOutlinedInput-root{
        margin-right: 2rem !important;
        padding:0px !important;
    }

    .MuiInputBase-fullWidth{
        width:93% !important;
    }
}


@media screen and (min-width: 360px) and (max-width: 630px){
    .CartBag_frame {
        margin-left: 0rem; 
        height: 91.7vh; 
        margin-top: 0rem;      
    }
    .cartBag_head {
        width: 80%;
    }
    .head {
        margin-left: -10rem;        
    }
    .cartBag_content{
        margin-left: -10rem;
        border:none;
    }
    .cartBag_content > .btn_content , .order_content > .btn_content, .address_frame> .btn_content{
        margin-right: -9rem;
    }
    .address_frame, .order_frame{
        display: none;
    }       
    .custm_content_names, .city_state{
        width: 303px;
    }
    .custm_content_names > .MuiFormControl-root{
        margin-right: 1rem !important;
    }
    .MuiInputBase-fullWidth{ 
        width:143% !important;
        
    }
    .btn_content{
        margin-right: -8rem ;
    }
    .dtl_btn{
        font-size: 15px;
        margin-right: -15rem;
    }
}

@media screen and (max-width: 340px){
    .cartBag_content{
        margin-left: -10rem;
        border:none;
        min-height: 51vh;
    }
    .cartBag_content > .btn_content , .order_content > .btn_content, .address_frame> .btn_content{
        margin-right: -7rem;
    }
    .address_frame_details , .order_content{
        margin-left: -1rem;
        border:none;
        height: 606px;
    }       
    .order_frame{
        margin-left: -0.8rem;
        border:none;
    }
    .address_frame{
        height: 11px !important;
        margin-left: -1rem;
        border:none;
    }
    .custm_content_names, .city_state{
        display:block;
        width: 303px;
    }      
    .MuiInputBase-fullWidth{      
        width: 47% !important;        
    }
    .btn_content{
        margin-right: -7rem ;
    }
    .dtl_btn{
        font-size: 15px;
        margin-right: -7rem;
    }
    .count_content > .remove{
        margin-right: 1.5rem;
        margin-left:18px;
    }
}
