.bookdisplay_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 2.2rem;
}
.books_main{
    width: 249px;
    min-height: 56vh;
    margin: 15px;
}
.book_img{
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    height: 155px;
}
.image {
    height: 155px;
    width: 120px ;
}
.card_text {
    display:flex;
    align-items:flex-start;
    flex-direction:column;
}
.MuiCardActions-root {
    align-items:flex-start !important;
}
.book_title {
    margin-left:8px;
    font-weight:600;
}
.author {
    font-size: 0.75rem;
    height:12px;
    color: lightgray;
    font-weight:600;
}
.price {
    margin-top: 0.8rem;
    font-size: 0.8rem;
    height:12px;
    color:black;
    font-weight:700;
}
.book_buttons {
    margin-top: 1rem;
    display: flex;
    margin-left: 0.5rem !important;
}
.add > .MuiButton-contained {
    color:white !important;
    background-color: #A03037;
    margin-right: 1rem !important;
    height: 5vh;
}
.wish > .MuiButton-contained {
    background-color: #fff ;
    color: black;
    border: 1px solid grey !important;
    height: 5.4vh;
}
.wish > .MuiButton-label {
    color: #000 !important;
}
.book_header {
    display: flex;
    margin-top: 5rem;
    margin-left: 9.3rem;
}
.book_name {
    font-weight: 600;
}
.book_header >p {
    margin-top: 1.8rem;
    margin-left: 0.6rem;
    font-size: 0.8rem;
    color: lightgray;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 2rem 0rem;
}
.css-10w330c-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #A03037 !important;
}
.sort {
    position: absolute !important;
    right: 7rem;
    top: 6rem;
    font-size: 0.7rem !important;
    letter-spacing: 0rem !important;
    color: #000 !important;
    border: 1px solid grey !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .bookdisplay_main {
        margin-left: 0rem;        
    }
    .book_header {
        margin-left: 7.7rem;        
    }
    .books_main {
        min-height: 38vh;        
    }
    .add > .MuiButton-contained {
        width: 16vw !important;
        height: 4vh;
    }
    .wish > .MuiButton-contained {
        width: 12vw !important;
        height: 4vh;
    }
    .sort{
        right: 7.2rem;
    }
}

@media only screen and (min-width: 630px) and (max-width:740px) {
    .bookdisplay_main {
        margin-left: 0rem;        
    }
    .book_header {
        margin-left: 5.9rem;        
    }
    .books_main {
        min-height: 54vh;        
    }
    .add > .MuiButton-contained {
        width: 18vw !important;
        height: 4vh;
    }
    .wish > .MuiButton-contained {
        width: 12vw !important;
        height: 4vh !important;
    }
    .sort {
        margin-right: -1.2rem !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){
    .book_header {
        margin-top: 3.5rem;
        margin-left: 3rem;
    }
    .bookdisplay_main {
        margin-left: -0.2rem;
    }
    .add > .MuiButton-contained {
        width: 34vw !important;
    }
    .wish > .MuiButton-contained {
        width: 24vw !important;
        height: 4.8vh !important;
    }
    .books_main {
        min-height: 46vh;        
    }
    .sort {
        font-size: 0rem !important;
        top: 4.5rem;
        right: 3.3rem;
    }
}

@media screen and (max-width: 340px){
    .book_header {
        margin-top: 3.5rem;
        margin-left: 2.2rem;
    }
    .bookdisplay_main {
        margin-left: 0rem;
    }
    .add > .MuiButton-contained {
        width: 39vw !important;
    }
    .wish > .MuiButton-contained {
        width: 29vw !important;
    }
    .books_main {
        min-height: 65vh;        
    }
    .pagination {
        margin: 2rem -1rem 2rem -1rem;        
    }
    .sort {
        font-size: 0rem !important;
        top: 4.5rem;
        right: 2rem;
    }
}