@mixin flex($disp, $justify, $direction, $width, $height, $margintop) {
    margin-top: $margintop;
    display: $disp;
    flex-direction: $direction;
    justify-content: $justify;
    height: $height;
    width: $width;
}

$border: 1px solid #d9cccc;

.wish_frame {
    @include flex(flex, center, column, null, 100%, 100px);
    align-items: center;
}
.wish_content {
    width: 78%;
    min-height: 200px;
    border: $border;
    margin-top: 20px;
    margin-bottom: 211px;
}
.wishlist_heading {
    @include flex(flex, center, column, null, 58px, null);
    padding-left: 30px;
    font-weight: 600;
    border: $border;
    background-color: #f5f5f5;
}
.main_cart1 {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2.5rem
}
.bag_text1 {
    @include flex(flex, space-evenly, column, 130%, 14vh, null);
    margin-left: 3rem;
}
.img_book1 {
    width: 6vw;
    margin: 0rem 0rem 0rem 2rem;
}
.text_content1 {
    width: 28%;
    margin-top: -0.7rem;
}
.cart_title1 {
    font-weight: 600;
    font-size: 1.2rem;
}
.cart_bookAuthor1 {
    font-size: 0.8rem;
    color: #a49595;
    font-weight: 600;
}
.price1 {
    font-weight: bold;
}
.delete_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -3rem;
    margin-right: -38rem;
}
.del_icon {
    cursor: pointer;
    color: grey;
}
.btn_place4 {
    background-color: #3371b5 !important;
    color: white !important;
    margin-right: 1.3rem !important;
    font-size: 0.6rem !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .text_content1 {
        margin-top: -1rem;
    }
    .bag_text1 {
        height: 12vh;
    }
    .img_book1 {
        width: 14vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .delete_content {
        margin-right: -18rem !important;
    }
}

@media only screen and (min-width: 630px) and (max-width:750px) {
    .text_content1 {
        margin-top: -0.5rem;
    }
    .bag_text1 {
        height: 12vh;
        width: 80%;
    }
    .img_book1 {
        width: 10vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .delete_content {
        margin-right: -18rem !important;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){
    .wish_content {
        width: 95%;
    }
    .text_content1 {
        margin-top: 1rem;
    }
    .bag_text1 {
        height: 6vh;
        margin-left: 1.8rem;        
    }
    .img_book1 {
        width: 22vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .delete_content {
        margin-right: -9.5rem;
        margin-top: -1.8rem;
    }
    .btn_place4 {
        width: 84%;
        font-size: 0.5rem !important;
    }
}

@media screen and (max-width: 340px){
    .wish_content {
        width: 95%;
    }
    .text_content1 {
        margin-top: 1rem;
    }
    .bag_text1 {
        height: 6vh;
        margin-left: 1.8rem;        
    }
    .img_book1 {
        width: 24vw;
        margin: 0rem 0rem 0rem 1.5rem;
    }
    .delete_content {
        margin-left: 10rem;
        flex-direction: column-reverse;
    }
    .btn_place4 {
        width: 17%;
        font-size: 0.4rem !important;
        margin-left: -3.2rem !important;
    }
}