@mixin  align($display,$justify-content,$direction,$height) {
    display: flex;
    justify-content: $justify-content;
    flex-direction: $direction;
    align-items: center;
    height: $height;
}
.signup{
    @include align(flex,center,column, 47vh);
    margin-top: 1.2rem;
}
.signup_inputs{
    @include align(flex,space-evenly,column, 50vh);
}
.button_main{
    @include align(flex,center,null,null);
    width: 100%;
}
.button1{
    width: 65%;
    background-color: #A03037 !important;
    color: white !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextFiels-root {
    min-height: 5rem !important;
}
span.forget {
    font-size: 0.85rem;
    color: gray;
}
.buttons{   
    @include align(flex,space-evenly,null,null);
    width: 100%;
    margin-top: 18px;
}
.button3 > .MuiButton-label {
    color: #000 !important;
}
.or {
    margin-top: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .signup {
        height: 32vh;
    }
}

@media only screen and (min-width: 630px) and (max-width:733px) {
    .button_main {
        width: 114%;
    }
}

@media screen and (min-width: 360px) and (max-width: 630px){
    .signup {
        height: 48vh;
    }
    .signup_inputs {
        width: 62vw;
    }
    .button_main {
        width: 106%;
    }
}

@media screen and (max-width: 340px){
    .signup {
        height: 70vh;
    }
    .signup_inputs {
        height: 60vh;
    }
}